body, html {
    margin: 0;
    padding: 0;
}

@import url('./fonts/ReggaeOne-Regular.ttf');

* {
    font-family: 'Reggae One', cursive;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
}

#back-btn {
    top: 3%;
    left: 2%;
}

a.back {
    display: block;
    padding: 5px 10px;
    background: rgba(179, 0, 0, 0.568);
    border: 1px solid rgb(235, 35, 85);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
}

a.back:hover {
    background: rgba(241, 35, 35, 0.726);
}

#finish-btn {
    top: 3%;
    right: 2%;
    display: none;
}

a.finish {
    display: block;
    padding: 10px 30px;
    background: rgba(0, 158, 8, 0.568);
    border: 1px solid rgb(6, 190, 0);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
    font-size: x-large;
}

a.finish:hover {
    background: rgba(35, 241, 52, 0.726);
}

#myProgress {
    width: 100%;
    height: 10px;
    background-color: rgba(197, 197, 197, 0.562);
    bottom: 10%;
    left: 2%;
  }
  
  #myBar {
    width: 100%;
    height: 10px;
    background-color: rgb(255, 162, 40);
  }
  #myProgress2 {
    width: 100%;
    background-color: rgba(197, 197, 197, 0.562);
    bottom: 3%;
    left: 2%;
  }
  
  #myBar2 {
    width: 100%;
    height: 10px;
    background-color: rgb(56, 255, 122);
  }

  #myProgress3 {
    width: 100%;
    background-color: rgba(197, 197, 197, 0.562);
    border: 2px solid black;
    height: 20px;
    margin-top: 28px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #gamabuntaHP {
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      display: flex;
      margin-left: 10px;
    margin-right: 10px;
  }

  #gamabuntaHP *{

  }
  
  #myBar3 {
    width: 100%;
    height: 20px;
    background-color: rgb(255, 56, 56);
  }

  #banner {
      position: relative;
  }

  .menu-btn {
      height: 75px;
      width: 200px;
      position: absolute;
      z-index: 100;
      background-color: rgb(255, 58, 58);
      color: whitesmoke;
      border-radius: 15px;
      outline: white;
      font-size: x-large;
  }

  .menu-btn:hover {
    box-shadow: 0 0 10px white;
    filter: brightness(1.5);
    cursor: pointer;
  }

  #play-btn {
    bottom: 50%;
    right: 10%;
  }

  #about-btn {
    bottom: 20%;
    right: 10%;
  }

  .overlay {
      position: absolute;
  }

  #key {
      height: 40px;
      width: 40px;
  }

  #saleScore {
    font-size: x-large;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  }

  #key-wrapper {
      display: flex;
      bottom: 17%;
    left: 2%;
    color: white;
    align-items: center;
    justify-content: center;
  }

  .bar {
      border-radius: 50px;
  }

  .dialog-1{
    height: 5%;
    width: 10%;
    background-color: whitesmoke;
    position: absolute;
    border-radius: 10%;
    right: 30%;
    top: 30%;
    font-family: 'Courier New', Courier, monospace;
}

.dialog-1:hover {
    filter: brightness(1.5);
    box-shadow: 5px white;
    cursor: pointer;
}

.left-point{
	width: 0;
	height: 0;
	border-left: 2vh solid transparent;
	border-right: 2vh solid transparent;
	border-top: 10vh solid whitesmoke;
	position: absolute;
	top: 70%;
	left: -10%;
	transform: rotate(20deg);
}

.txt {
    color: rgb(247, 247, 247);
    font-size: medium;
    -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  margin: 0;
}

#dash-txt {
    bottom: 9%;
    left: 2%;
}

#stamina-txt {
    bottom: 2%;
    left: 2%;
}

.bar-wrapper {
    left: 2%;
    width: 25%;
    height: 30px;
}

#bar-wrapper1 {
    bottom: 11%;
}

#bar-wrapper2 {
    bottom: 4%;
}

#startbtn {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#startbtn button {
    color: white;
    font-size: x-large;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.664);
    box-shadow: 0px 0px 40px 4px rgb(255, 255, 255);
    height: 75px;
    width: 200px;
}

#startbtn button:hover {
    transform: scale(1.2, 1.2);
    filter: brightness(1.5);
    cursor: pointer;
    box-shadow: 0px 0px 40px 7px rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}

.hidden{
    display: none !important;
}

#boss-txt {
    color: white;
}
